/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: hsl(273, 97%, 66%);
    --first-color-shape: hsl(253, 33%, 32%);
    --title-color: #66fcf1;
    --text-color: hsl(0, 0%, 100%);
    --body-color: #000000;
    --container-color: #fff;
    --title-color-dark: hsl(273, 83%, 98%);
    --text-color-dark: hsl(273, 21%, 56%);
    --container-color-dark: hsl(273, 80%, 14%);
    /*========== Font and typography ==========*/
    --body-font: 'Ubuntu', sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    /*========== z index ==========*/
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    overflow-x: hidden;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
h2{
    font-size: 2rem;
    color:#66fcf1;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
    padding: 1rem;
}

.section__heigh {
    height: 100vh;
}


/*=============== HEADER Y NAV ===============*/
.nav {
    background-color: var(--container-color-dark);
    padding: 2rem 0 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.nav__shape {
    width: 200px;
    height: 200px;
    background-color: var(--first-color-shape);
    border-radius: 50%;
    position: absolute;
    top: -2rem;
    left: -2rem;
    filter: blur(90px);
}

.nav__close {
    position: relative;
    left: 23%;
    display: inline-flex;
    font-size: 1.8rem;
    color: var(--text-color-dark);
    cursor: pointer;
    margin-bottom: 0;
}

.nav__img {
    width: 100px;
}

.nav__mask {
    width: 80px;
    height: 80px;
    background: linear-gradient(224deg, #a22fe9 -2%, #ddaafe 97%);
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.nav__data {
    position: relative;
    margin-bottom: 3rem;
}

.nav__greeting {
    display: block;
    color: var(--text-color-dark);
    font-size: var(--small-font-size);
    font-weight: 500;
    margin-bottom: .25rem;
}

.nav__name {
    color: var(--title-color-dark);
    font-size: var(--big-font-size);
    line-height: 130%;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--text-color-dark);
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    transition: .3s;
}

.nav__link i {
    font-size: 1.15rem;
}

.nav__link:hover {
    color: var(--title-color-dark);
}

.main {
    position: relative;
    background-color: var(--body-color);
    transition: .4s;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #66fcf1;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.header {
    position: fixed;
    width: 100%;
    background: #0f0f0f;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.header__nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo,
.header__toggle {
    color: var(--title-color);
}

.header__logo {
    font-weight: 800;
}

.header__toggle {
    font-size: 2rem;
    cursor: pointer;
}

/* Show menu */
.show-menu {
    transform: translate(70%);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
    color: var(--title-color-dark);
}

/*==========home===========*/

.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}

.about-info-detail {
    width: 50%;
    font-size: 2.5rem;
}

.about-info-img {
    width: 400px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.gitt {

    margin: 10px 0;
}

.git {
    color: #66fcf1;
}





/*==========Home===========*/


/*==========About2===========*/


.about2-info {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about2-info-img {
    flex-basis: 35%;
}

.about2-info-img img {
    width: 90%;
    border-radius: 1rem;
}

.about2-info-details {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: " ";
    width: 0;
    height: 3px;
    background: #66fcf1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 70%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #66fcf1;
    font-size: 0.9rem;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/*==========About2===========*/


/*----------------Skills------------------*/



.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 100px 0;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 0.8rem;
    font-weight: 300px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 4rem;
    margin-bottom: 30px;
}

.services-list div h3 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p{
    font-size: 1rem;
}

.services-list div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #66fcf1;
    transform: translateY(-10px);
    color: #000000;
}

/*----------------Skills------------------*/


/*--------------portfolio-----------*/

.portfolio {
    padding: 50px 0;
}

.work-list {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* .slick-slide{
    padding: 0 10px;
} */
.slick-dots{
    bottom: -40px;
}
.slick-dots li.slick-active button:before{
    color: #ffffff;
}
.slick-dots li button:before{
    font-size: 42px;
    color: #ffffff;
    opacity: .50;
}

.work {
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    font-weight: 600;
    height: 0%;
    background: linear-gradient(#0e3c39, hsl(273, 83%, 98%));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    /* margin: 0 10px; */
    text-align: center;
    font-size: 0.8rem;
    transition: height 0.5s;
    color: #000;
}

.layer h4 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p{
    font-size: 1rem;
}

.layer a {
    margin-top: 20px;
    color: #66fcf1;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 40px;
    background: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

/* .work:hover img {
    transform: scale(1.1);
} */

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #66fcf1;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #66fcf1;
    transition: background 0.5s;
}

.btn:hover {
    background: #66fcf1;
    color: #000;
}

/*------------Contac------------*/
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #66fcf1;
    margin-right: 15px;
    font-size: 1.5rem;
}
.contact-left p a{
    color:white;
}
.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #66fcf1;
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #66fcf1;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #000000;
}

.btn.btn2:hover {
    display: inline-block;
    background: #66fcf1;
}



nav .fas {
    display: none;
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 500px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .waviy span {
        font-size: 1rem;
    }

    .header__toggle {
        font-size: 1.50rem;
    }


    /*==========About===========*/

    .about-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100vh;
        justify-content: space-evenly;

    }

    .about-info-detail {
        width: 100%;
        font-size: 1.5rem;
    }

    .about-info-img {
        width: 230px;
        clip-path: circle(47.9% at 50% 50%);
        align-self: flex-end;
    }




    /*==========About2===========*/

    .about2-info {
        height: 900px;
        margin: 50px 0 80px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .about2-info-img {
        flex-basis: 100%;
    }

    .about2-info-img img {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 20px;
    }

    .about2-info-details {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }

    /*==========About2===========*/

    /*----------------Skills------------------*/
    #skills {
        margin-top: 50px;
    }

    .services-list {
        margin: 70px 0;
    }

    /*----------------Skills------------------*/



}

/* For medium devices */
@media screen and (min-width: 767px) {
    .show-menu {
        transform: translate(30%);
    }

}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }


    .header__nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__shape {
        width: 350px;
        height: 350px;
    }

    .nav__mask {
        width: 100px;
        height: 100px;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .nav__img {
        width: 120px;
    }

    .nav__link {
        font-size: var(--normal-font-size);
    }

    .nav__link i {
        font-size: 1.25rem;
    }


}